h1 {
    color: darkslategrey;
    font-weight: bolder
}

.jumbotron{
    text-align: center;
 
    
}

p{
    color:gray;
    font-weight: bold;
}

#motivation {
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    color: gray;
    font-weight: bold;
}

#diego-pic {
    height: 243px;
}

#diego-name {
    margin-bottom: 50px;
}

#beer-original-image {
    height: 560px;
}